# help: https://git-scm.com/docs/gitattributes
*.bat text eol=crlf
*.sh text eol=lf

# help: https://github.com/github/linguist/blob/master/docs/overrides.md
*.css -linguist-detectable
*.html -linguist-detectable

# help: https://git-scm.com/docs/gitattributes
*.ico binary
