# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Output directories
build

# By-products
__pycache__
*.tags
ts/**/*.js
rust/**/target

# Go files
!go.mod

# Node.js modules
node_modules

# Angular applications
!ts/**/karma.conf.js
